{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joseph Cartaphilus</title>

    <link rel="icon" type="images/png" href="{% static 'css/img/ico.png' %}">
    <link rel="stylesheet" href="{% static 'css/deer.css' %}">
</head>

<body>

<header>
    <h2 class="logo">
        <ion-icon name="skull"></ion-icon>
    </h2>
    <nav class="navigation">
        <a href="{% url 'main' %}">Home</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}"><ion-icon name="logo-google"></ion-icon></a>
        <a href="/login/vk-oauth2"><ion-icon name="logo-vk"></ion-icon></a>
        <button class="btnLogin-popup">Login</button>
    </nav>
</header>


<div class="wrapper">
        <span class="icon-close">
            <ion-icon name="close"></ion-icon>
        </span>

    <div class="form-box login">
        <h2>Login</h2>
        <form action="{% url 'login_or_register' %}" method="post" name="login_form">
            {% csrf_token %}
            <div class="input-box">
                <span class="icon"><ion-icon name="person"></ion-icon></span>
                {{ login_form.username }}
                <label>Username</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{ login_form.password }}
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox"> Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn"> Login</button>
            <div class="login-register">
                <p>Don`t have an account?
                    <a href="#" class="register-link">Register</a>
                </p>
            </div>
        </form>
    </div>

    <div class="form-box register">
        <h2>Registration</h2>
        <form method="post" action="{% url 'login_or_register' %}" name="register_form">
            {% csrf_token %}
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                {{ register_form.email }}
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{ register_form.password1 }}
                <label>Password</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                {{ register_form.password2 }}
                <label>Confirm Password</label>
            </div>
            <button type="submit" class="btn">Register</button>
            <div class="login-register">
                <p>Already have an account?<a href="#" class="login-link">Login</a></p>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/forest.js' %}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>