{% extends 'base_user.html' %}
{% load static %}

{% block content %}
    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area bg-img bg-overlay jarallax">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcrumb-content text-center">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center" style="background-color: #7e7a7a">
                                <li class="breadcrumb-item"><a href="/"><i class="icon_house_alt"></i>
                                    <b>Home</b></a>
                                </li>
                                <li class="breadcrumb-item"><a href="{% url 'login_or_register' %}"><i class="icon_house_alt"></i>
                                   <b>Logout</b></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page"><b style="color: #5e5a5a">Profile</b></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Images Area Start -->
    <div class="contact-area section-padding-80-50" style="margin-left: 420px">
        <div class="container">
            <div class="row">
                <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-lg-12 text-center">
                            <img width="250" height="250"
                                 src="{% if user.image %}{{ user.image.url }}
                                 {% else %}{% static 'vendor/img/users/default-user.png' %} {% endif %}"
                                 class="img-thumbnail my_img" alt="photo_user">
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-3" for="{{ form.first_name.id_for_label }}"><b>Name</b></label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="small mb-3" for="{{ form.last_name.id_for_label }}"><b>Surname</b></label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-lg-12">
                            <div class="custom-file">
                                {{ form.image }}
                                <label class="custom-file-label" for="{{ form.image.id_for_label }}"><b>Choose your picture</b></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.username.id_for_label }}"><b>Username</b></label>
                            {{ form.username }}
                        </div>
                        <div class="col-lg-6">
                            <label class="small mb-1" for="{{ form.email.id_for_label }}"><b>Email adress</b></label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-12" style="margin-top: 33px;">
                            <input class="btn btn-info btn-block" type="submit" value="Save" style="background-color: #5e5a5a; border-color: #5e5a5a">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <img class="soundbutton paused" src="{% static 'img/sound.gif' %}" alt="Alt">
	<audio class="audio" src="{% static 'audio/music.mp3' %}" loop></audio>

    <script>

    </script>
{% endblock %}